In [26]:
import pandas as pd
import seaborn as sns
import datetime as dt
pd.options.display.float_format = '{:.5f}'.format

In [47]:
df = pd.read_csv(r'C:\Users\Sumanth\Desktop\q2.csv')
df

,date_of_creation,date_of_checkout,bookings,coupon_information,update_timestamp,cycle_id,cycle_timestamp,purchase_type_id,is_fraud,week,...,coupon_segment_id_a,attribution_id_a,device_id_a,exchange_rate_a,gmv_a,gmv_after_coupons_a,visitor_id_a,session_id_a,token_a,commission_rate_a
0,2018-09-01T14:49:24.000+02:00,2018-09-01T15:18:03.000+02:00,1,[],2018-09-01T15:02:58.000+02:00,0,2019-10-15T03:21:00.533+02:00,1,False,2018-08-27T00:00:00.000+02:00,...,-559580957,-559580957,1765031574,5.65880,72.35997,72.35997,-1969293373,-1030158483,-1722411927,1470.53222
1,2018-09-01T16:12:47.000+02:00,2018-09-01T16:17:23.000+02:00,1,[],2018-09-01T16:16:54.000+02:00,0,2019-10-15T03:21:00.533+02:00,1,False,2018-08-27T00:00:00.000+02:00,...,-559580957,1765031574,1765031574,5.65880,8.33466,8.33466,2091086248,1962332134,-652614116,1470.53222
2,2018-09-01T21:56:29.000+02:00,2018-09-01T22:01:36.000+02:00,1,[],2018-09-01T21:57:59.000+02:00,0,2019-10-15T03:21:00.533+02:00,1,False,2018-08-27T00:00:00.000+02:00,...,-559580957,-1823081949,1765031574,24.11355,95.92999,95.92999,1418851735,966284657,1508759480,882.31933
3,2018-09-02T00:25:25.000+02:00,2018-09-02T00:26:47.000+02:00,1,[],2018-09-02T00:26:08.000+02:00,0,2019-10-15T03:21:00.533+02:00,2,False,2018-08-27T00:00:00.000+02:00,...,-559580957,-559580957,-559580957,6.57083,21.49773,21.49773,1665709846,612665010,641025172,1764.63866
4,2018-09-02T14:56:47.000+02:00,2018-09-02T15:05:28.000+02:00,1,[],2018-09-02T15:01:53.000+02:00,0,2019-10-15T03:21:00.533+02:00,1,False,2018-08-27T00:00:00.000+02:00,...,-559580957,1023896466,-559580957,5.06969,12.37318,12.37318,560383644,-1824515114,-380974197,1470.53222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196483,2019-02-28T12:44:14.000+01:00,2019-02-28T12:45:23.000+01:00,1,NaN,2019-02-28T12:45:22.000+01:00,0,2019-10-15T03:21:00.533+02:00,1,False,2019-02-25T00:00:00.000+01:00,...,-559580957,-559580957,1765031574,1789.42474,7.39511,7.39511,780599898,975480859,5573786,882.31933
196484,2019-02-28T12:57:46.000+01:00,2019-02-28T13:00:09.000+01:00,1,NaN,2019-02-28T12:59:33.000+01:00,0,2019-10-15T03:21:00.533+02:00,2,False,2019-02-25T00:00:00.000+01:00,...,-559580957,-559580957,1765031574,5.65880,4.07262,4.07262,2103409267,-1025506435,102403500,1778.34402
196485,2019-02-28T20:11:46.000+01:00,2019-02-28T20:24:50.000+01:00,1,NaN,2019-02-28T20:23:38.000+01:00,0,2019-10-15T03:21:00.533+02:00,1,False,2019-02-25T00:00:00.000+01:00,...,-559580957,-1823081949,1765031574,5.65880,19.10152,19.10152,645807067,-239498616,-1084245737,856.61443
196486,2019-02-28T20:42:00.000+01:00,2019-02-28T20:43:18.000+01:00,1,NaN,2019-02-28T20:43:17.000+01:00,0,2019-10-15T03:21:00.533+02:00,3,False,2019-02-25T00:00:00.000+01:00,...,-559580957,-397064898,-397064898,5.65880,21.59434,21.59434,1749174763,-843961161,516530737,1764.63866
196487,2019-02-28T22:21:45.000+01:00,2019-02-28T22:21:48.000+01:00,1,NaN,2019-02-28T22:21:46.000+01:00,0,2019-10-15T03:21:00.533+02:00,1,False,2019-02-25T00:00:00.000+01:00,...,-559580957,-1823081949,-559580957,8.46459,8.58659,8.58659,139368801,42,-873486155,1764.63866

In [48]:
#cleaning data by rounding off numbers to 2 decimal places
df= df.round({'gmv_a': 2, 'gmv_after_coupons_a': 2,'commission_rate_a':2,'exchange_rate_a':2,'gmv_after_coupons_a':2})

In [49]:
df

,date_of_creation,date_of_checkout,bookings,coupon_information,update_timestamp,cycle_id,cycle_timestamp,purchase_type_id,is_fraud,week,...,coupon_segment_id_a,attribution_id_a,device_id_a,exchange_rate_a,gmv_a,gmv_after_coupons_a,visitor_id_a,session_id_a,token_a,commission_rate_a
0,2018-09-01T14:49:24.000+02:00,2018-09-01T15:18:03.000+02:00,1,[],2018-09-01T15:02:58.000+02:00,0,2019-10-15T03:21:00.533+02:00,1,False,2018-08-27T00:00:00.000+02:00,...,-559580957,-559580957,1765031574,5.66000,72.36000,72.36000,-1969293373,-1030158483,-1722411927,1470.53000
1,2018-09-01T16:12:47.000+02:00,2018-09-01T16:17:23.000+02:00,1,[],2018-09-01T16:16:54.000+02:00,0,2019-10-15T03:21:00.533+02:00,1,False,2018-08-27T00:00:00.000+02:00,...,-559580957,1765031574,1765031574,5.66000,8.33000,8.33000,2091086248,1962332134,-652614116,1470.53000
2,2018-09-01T21:56:29.000+02:00,2018-09-01T22:01:36.000+02:00,1,[],2018-09-01T21:57:59.000+02:00,0,2019-10-15T03:21:00.533+02:00,1,False,2018-08-27T00:00:00.000+02:00,...,-559580957,-1823081949,1765031574,24.11000,95.93000,95.93000,1418851735,966284657,1508759480,882.32000
3,2018-09-02T00:25:25.000+02:00,2018-09-02T00:26:47.000+02:00,1,[],2018-09-02T00:26:08.000+02:00,0,2019-10-15T03:21:00.533+02:00,2,False,2018-08-27T00:00:00.000+02:00,...,-559580957,-559580957,-559580957,6.57000,21.50000,21.50000,1665709846,612665010,641025172,1764.64000
4,2018-09-02T14:56:47.000+02:00,2018-09-02T15:05:28.000+02:00,1,[],2018-09-02T15:01:53.000+02:00,0,2019-10-15T03:21:00.533+02:00,1,False,2018-08-27T00:00:00.000+02:00,...,-559580957,1023896466,-559580957,5.07000,12.37000,12.37000,560383644,-1824515114,-380974197,1470.53000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196483,2019-02-28T12:44:14.000+01:00,2019-02-28T12:45:23.000+01:00,1,NaN,2019-02-28T12:45:22.000+01:00,0,2019-10-15T03:21:00.533+02:00,1,False,2019-02-25T00:00:00.000+01:00,...,-559580957,-559580957,1765031574,1789.42000,7.40000,7.40000,780599898,975480859,5573786,882.32000
196484,2019-02-28T12:57:46.000+01:00,2019-02-28T13:00:09.000+01:00,1,NaN,2019-02-28T12:59:33.000+01:00,0,2019-10-15T03:21:00.533+02:00,2,False,2019-02-25T00:00:00.000+01:00,...,-559580957,-559580957,1765031574,5.66000,4.07000,4.07000,2103409267,-1025506435,102403500,1778.34000
196485,2019-02-28T20:11:46.000+01:00,2019-02-28T20:24:50.000+01:00,1,NaN,2019-02-28T20:23:38.000+01:00,0,2019-10-15T03:21:00.533+02:00,1,False,2019-02-25T00:00:00.000+01:00,...,-559580957,-1823081949,1765031574,5.66000,19.10000,19.10000,645807067,-239498616,-1084245737,856.61000
196486,2019-02-28T20:42:00.000+01:00,2019-02-28T20:43:18.000+01:00,1,NaN,2019-02-28T20:43:17.000+01:00,0,2019-10-15T03:21:00.533+02:00,3,False,2019-02-25T00:00:00.000+01:00,...,-559580957,-397064898,-397064898,5.66000,21.59000,21.59000,1749174763,-843961161,516530737,1764.64000
196487,2019-02-28T22:21:45.000+01:00,2019-02-28T22:21:48.000+01:00,1,NaN,2019-02-28T22:21:46.000+01:00,0,2019-10-15T03:21:00.533+02:00,1,False,2019-02-25T00:00:00.000+01:00,...,-559580957,-1823081949,-559580957,8.46000,8.59000,8.59000,139368801,42,-873486155,1764.64000

In [37]:
#checking null value percentage
df.isnull().mean()*100
#coupon_information column can be dropped off since close to 60% values are null
#other rows with null values can be dropped off since only 0.44% are null.

date_of_creation             0.00000
date_of_checkout             0.00000
bookings                     0.00000
coupon_information          58.67636
update_timestamp             0.00000
cycle_id                     0.00000
cycle_timestamp              0.00000
purchase_type_id             0.00000
is_fraud                     0.43972
week                         0.00000
tour_category_id             0.43972
date_of_travel               0.43972
commission_rate              0.43972
shopping_cart_id_a           0.00000
customer_id_a                0.00000
customer_address_id_a        0.00000
billing_id_a                 0.00000
coupon_id_a                  0.00000
reseller_id_a                0.00000
reseller_campaign_id_a       0.00000
gyg_campaign_id_a            0.00000
currency_id_a                0.00000
shopping_cart_status_id_a    0.00000
coupon_segment_id_a          0.00000
attribution_id_a             0.00000
device_id_a                  0.00000
exchange_rate_a              0.00000
gmv_a                        0.00000
gmv_after_coupons_a          0.00000
visitor_id_a                 0.00000
session_id_a                 0.00000
token_a                      0.00000
commission_rate_a            0.43972
dtype: float64

In [50]:
df=df.drop(['coupon_information'], axis = 1)
df
#dropping this column since this column has 58% of null values

,date_of_creation,date_of_checkout,bookings,update_timestamp,cycle_id,cycle_timestamp,purchase_type_id,is_fraud,week,tour_category_id,...,coupon_segment_id_a,attribution_id_a,device_id_a,exchange_rate_a,gmv_a,gmv_after_coupons_a,visitor_id_a,session_id_a,token_a,commission_rate_a
0,2018-09-01T14:49:24.000+02:00,2018-09-01T15:18:03.000+02:00,1,2018-09-01T15:02:58.000+02:00,0,2019-10-15T03:21:00.533+02:00,1,False,2018-08-27T00:00:00.000+02:00,4.00000,...,-559580957,-559580957,1765031574,5.66000,72.36000,72.36000,-1969293373,-1030158483,-1722411927,1470.53000
1,2018-09-01T16:12:47.000+02:00,2018-09-01T16:17:23.000+02:00,1,2018-09-01T16:16:54.000+02:00,0,2019-10-15T03:21:00.533+02:00,1,False,2018-08-27T00:00:00.000+02:00,1.00000,...,-559580957,1765031574,1765031574,5.66000,8.33000,8.33000,2091086248,1962332134,-652614116,1470.53000
2,2018-09-01T21:56:29.000+02:00,2018-09-01T22:01:36.000+02:00,1,2018-09-01T21:57:59.000+02:00,0,2019-10-15T03:21:00.533+02:00,1,False,2018-08-27T00:00:00.000+02:00,105.00000,...,-559580957,-1823081949,1765031574,24.11000,95.93000,95.93000,1418851735,966284657,1508759480,882.32000
3,2018-09-02T00:25:25.000+02:00,2018-09-02T00:26:47.000+02:00,1,2018-09-02T00:26:08.000+02:00,0,2019-10-15T03:21:00.533+02:00,2,False,2018-08-27T00:00:00.000+02:00,1.00000,...,-559580957,-559580957,-559580957,6.57000,21.50000,21.50000,1665709846,612665010,641025172,1764.64000
4,2018-09-02T14:56:47.000+02:00,2018-09-02T15:05:28.000+02:00,1,2018-09-02T15:01:53.000+02:00,0,2019-10-15T03:21:00.533+02:00,1,False,2018-08-27T00:00:00.000+02:00,1.00000,...,-559580957,1023896466,-559580957,5.07000,12.37000,12.37000,560383644,-1824515114,-380974197,1470.53000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196483,2019-02-28T12:44:14.000+01:00,2019-02-28T12:45:23.000+01:00,1,2019-02-28T12:45:22.000+01:00,0,2019-10-15T03:21:00.533+02:00,1,False,2019-02-25T00:00:00.000+01:00,92.00000,...,-559580957,-559580957,1765031574,1789.42000,7.40000,7.40000,780599898,975480859,5573786,882.32000
196484,2019-02-28T12:57:46.000+01:00,2019-02-28T13:00:09.000+01:00,1,2019-02-28T12:59:33.000+01:00,0,2019-10-15T03:21:00.533+02:00,2,False,2019-02-25T00:00:00.000+01:00,157.00000,...,-559580957,-559580957,1765031574,5.66000,4.07000,4.07000,2103409267,-1025506435,102403500,1778.34000
196485,2019-02-28T20:11:46.000+01:00,2019-02-28T20:24:50.000+01:00,1,2019-02-28T20:23:38.000+01:00,0,2019-10-15T03:21:00.533+02:00,1,False,2019-02-25T00:00:00.000+01:00,227.00000,...,-559580957,-1823081949,1765031574,5.66000,19.10000,19.10000,645807067,-239498616,-1084245737,856.61000
196486,2019-02-28T20:42:00.000+01:00,2019-02-28T20:43:18.000+01:00,1,2019-02-28T20:43:17.000+01:00,0,2019-10-15T03:21:00.533+02:00,3,False,2019-02-25T00:00:00.000+01:00,3.00000,...,-559580957,-397064898,-397064898,5.66000,21.59000,21.59000,1749174763,-843961161,516530737,1764.64000
196487,2019-02-28T22:21:45.000+01:00,2019-02-28T22:21:48.000+01:00,1,2019-02-28T22:21:46.000+01:00,0,2019-10-15T03:21:00.533+02:00,1,False,2019-02-25T00:00:00.000+01:00,115.00000,...,-559580957,-1823081949,-559580957,8.46000,8.59000,8.59000,139368801,42,-873486155,1764.64000

In [51]:
df.dropna(inplace=True)

In [52]:
#converting columns to required date time format
pd.to_datetime(df["date_of_creation"])
df['date_of_checkout'] = pd.to_datetime(df.date_of_checkout, format='%Y-%m-%d %H:%M:%S')
df['date_of_creation'] = pd.to_datetime(df.date_of_creation, format='%Y-%m-%d %H:%M:%S')

In [53]:
#extracting seconds from the columns to caluclate the average time taken to checkout
df['totsec'] = (df['date_of_checkout']-df["date_of_creation"]).astype('timedelta64[s]')
df=df[df['totsec']>0]
#values less than 0 have been removed since this is clearly an error since end date cannot be before start date for shopping cart

In [54]:
print(df['totsec'].describe())
(df['totsec'].sum()/len(df['totsec']))/60
# calculating the average time for checkout. due to outliers this value may increase.
#29.06 mins is the average time for shopping

count    195623.00000
mean       1744.10004
std       13141.43799
min           1.00000
25%         150.00000
50%         271.00000
75%         624.00000
max     1116560.00000
Name: totsec, dtype: float64

29.06833407455497

In [67]:
df['bookings'].value_counts()
#majority of the bookings in the shopping cart are 1

1     165810
2      16538
3       7011
4       3282
5       1505
6        720
7        361
8        176
9         94
11        33
10        32
12        21
13        14
22         7
16         6
17         5
14         4
15         4
Name: bookings, dtype: int64

In [55]:
df['bookings'].describe()
#average bookings per order is 1.28

count   195623.00000
mean         1.28431
std          0.86287
min          1.00000
25%          1.00000
50%          1.00000
75%          1.00000
max         22.00000
Name: bookings, dtype: float64

In [66]:
df1 = df.groupby(['customer_id_a']).size()
df1=df1.reset_index()
df1[df1[0]>1]
#We have 9022 recurring customers which makes only 4.6% of our total customers

        customer_id_a  0
5         -2147329513  2
16        -2147104484  2
51        -2146163075  2
54        -2146105632  2
57        -2146055131  2
...               ... ..
183253     2143906080  2
183274     2144242056  2
183327     2145466168  2
183334     2145573016  2
183373     2146387104  2

[9022 rows x 2 columns]

In [57]:
df.coupon_segment_id_a.value_counts()
#most used coupon segment for booking is -559580957

-559580957     188962
-331964951       3240
 1765031574      2529
-397064898        458
-1823081949       400
 1079293707        34
Name: coupon_segment_id_a, dtype: int64

In [58]:
df.groupby(['device_id_a']).size()
#most used device for booking is -559580957. The values for device id and coupon segment id seem to have same values

device_id_a
-1823081949    15036
-559580957     96700
-397064898     13825
 1023896466     7036
 1765031574    63026
dtype: int64

In [59]:
dffr = df[df['is_fraud']==True].groupby(['coupon_segment_id_a']).size().reset_index()
dffr['percentage of total bookings'] = (dffr[0]/len(df['is_fraud']))*100
dffr.sort_values(by=0,ascending=False)
#most number of fraudulent cases are from a cetain coupon segment which requires further investigation into that coupon

   coupon_segment_id_a    0  percentage of total bookings
1           -559580957  445                       0.22748
0          -1823081949    4                       0.00204
2           -331964951    3                       0.00153

In [60]:
dffr1 = df[df['is_fraud']==True].groupby(['reseller_id_a']).size().reset_index()
dffr1['percentage of total bookings'] = (dffr1[0]/len(df['is_fraud']))*100
dffr1.sort_values(by=0,ascending=False)
#most number of fraudulent cases are from 2 Partners. These are suspicous activities and these partners need to be looked into

    reseller_id_a    0  percentage of total bookings
1     -1670924195  323                       0.16511
16     1910520950  102                       0.05214
8      -258040746   10                       0.00511
9       -19330438    3                       0.00153
0     -2089535200    2                       0.00102
3     -1328575211    1                       0.00051
4     -1105880777    1                       0.00051
5     -1056647577    1                       0.00051
6      -886057249    1                       0.00051
7      -599084760    1                       0.00051
2     -1397238085    1                       0.00051
10      651420093    1                       0.00051
11      694456372    1                       0.00051
12     1147377794    1                       0.00051
13     1229135404    1                       0.00051
14     1451218917    1                       0.00051
15     1559492280    1                       0.00051

In [61]:
dffr2 = df[df['is_fraud']==True].groupby(['gyg_campaign_id_a']).size().reset_index()
dffr2['percentage of total bookings'] = (dffr2[0]/len(df['is_fraud']))*100
dffr2.sort_values(by=0,ascending=False)
#most number of fraudulent cases are from 1 specific GYG campaign. Needs to be investigated

   gyg_campaign_id_a    0  percentage of total bookings
1        -1670924195  449                       0.22952
0        -1869229169    1                       0.00051
2         -523524097    1                       0.00051
3         1058660841    1                       0.00051

In [62]:
dffr3 = df.groupby(['gyg_campaign_id_a']).size().reset_index().sort_values(by=0,ascending=False)
dffr3['percentage of total bookings'] = (dffr3[0]/len(df['gyg_campaign_id_a']))*100
dffr3.head()
#most number of bookings are from the GYG campaign -1670924195 and this is the same campaign which has the highest frauds.
#High fraud count might be because of the large number of bookings and might not be related to that campaign. 
#But it needs to be investigated

    gyg_campaign_id_a       0  percentage of total bookings
7         -1670924195  191967                      98.13110
4         -1869229169    1345                       0.68755
34          941356229     411                       0.21010
17         -523524097     355                       0.18147
13         -940606842     192                       0.09815

In [63]:
df[df['is_fraud']==False].groupby(['coupon_segment_id_a']).sum()['commission_rate_a'].reset_index().sort_values(by='commission_rate_a', ascending=False)

#eliminating Fraud cases and then understanding our commission rate based on our coupon segments. Fromt this we can understand
# which coupon segments are doing better and which coupon segments can be targeted to improve.

   coupon_segment_id_a  commission_rate_a
1           -559580957    286462542.43000
3           -331964951      4959164.95000
5           1765031574      3535494.51000
2           -397064898       682792.86000
0          -1823081949       571186.90000
4           1079293707        51972.27000